if books[0].id === 1
  a(class='button', id="back", href="/books/back", value="<"  style="display:none") <
else
  a(class='button', id="back", href="/books/back", value="<") <

if books.length < 10
  a(class='button', id="font", href="/books/forward", value="<" style="display:none") >
else
  a(class='button', id="font", href="/books/forward", value="<") >
